<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.mtaeremit">

    <application
        android:name=".SampleApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EremitMalaysiaDFMSample"
        tools:replace="android:allowBackup">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.morpho.lkms.android.sdk.lkms_core.content_provider.LkmsStoreProvider"
            android:authorities="${applicationId}.bio_store"
            android:readPermission="${applicationId}.NEW_READ_LKMS_LICENSE_PROVIDER"
            android:writePermission="${applicationId}.NEW_WRITE_LKMS_LICENSE_PROVIDER"
            tools:replace="android:authorities, android:readPermission, android:writePermission" />

        <provider
            android:name="com.morpho.mph_bio_sdk.android.sdk.content_provider.BioStoreProvider"
            android:authorities="${applicationId}.lkms"
            android:readPermission="${applicationId}.NEW_READ_MPH_BIO_SDK_PROVIDER"
            android:writePermission="${applicationId}.NEW_WRITE_MPH_BIO_SDK_PROVIDER"
            tools:replace="android:authorities, android:readPermission, android:writePermission" />

    </application>

</manifest>